.allChatBoxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.chatCardBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}