.EventListingPageMain{
    display:flex;
    flex-direction:row;
}

.EventListingPageLeft{
    width:20%;
    margin-right: 30px;
}

.EventListingPageRight{
    width:80%;
}

.EventListingCardBox{
    display:flex;
    justify-content: flex-start;
    flex-direction:row;
    flex-wrap: wrap;
}

.EventListingCardBox{
    margin:0px;
}
.EventsOptions{
    width: 300px;
  height: 400px;
  margin: 20px;
    color: black;
    text-decoration: none;
}
.EventsOptions:hover{
    text-decoration: none;
}
#sign {
    width: 179px;
    height: 42px;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }
  #sign:hover {
    width: 179px;
    height: 42px;
    background: #00baf2;
    color: #000;
    cursor: pointer;
    border: 0;
    font-weight: 600;
    transition: ease-in 0.2s;
  }