.EventMainPageRoot{
    text-align: center;
}

.divisionLine{
    margin-top: 20px;
    width: 4px;
    height: 250px;
    background-color: black;
}
.eventDetails{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}