.LandingBlockRoot{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:50px;
    max-width: 1200px;
}

.LandingBlockLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.LandingBlockRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.LandingBlockLeftBox{
    display:flex;
    flex-direction: column;
}
