@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Oswald:wght@300&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&family=Oswald:wght@300&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&family=Teko:wght@300&display=swap");
.outer-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.signin {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 630px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.email {
  text-align: left;
  width: 200px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

#emailbox {
  width: 620px;
  height: 42px;
  background: #ffffff;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  border-radius: 10px;
}

.password {
  text-align: left;
  width: 200px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

#passwordbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 620px;
  height: 42px;
  background: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}

#checkbox {
  margin-right: 2px;
  width: 20px;
  height: 20px;
  background: #d9d9d9;
  border-radius: 7px;
}

.rem {
  width: 120px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
#sign {
  width: 179px;
  height: 42px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
#sign:hover {
  width: 179px;
  height: 42px;
  background: #00baf2;
  color: #000;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  transition: ease-in 0.2s;
}

#in {
  width: 78px;
  height: 29px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

#forgetpass {
  margin-bottom: 15px;
  width: 250px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0024d6;
}

.noacc {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 300px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.google {
  width: 200px;
  height: 54px;
}

.emaildes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.passdes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.remme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imp {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.google-signin {
  width: 100%;
}

.signupLink {
  color: #0024d6;
}

.dynamicTextSignin{
  padding: 0;
  margin: 0;
  color: #1da1f2;
}