.SponsorCardRoot {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  background-color: #00baf2;
  transition: all ease 0.3s;
}
.SponsorCardRoot:hover {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  color: black;
  background-color: #01a5d7;
}

.SponsorCardPoster {
  width: 300px;
}

.SponsorCardPoster > img {
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 100%;
}

.SponsorCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2px;
}

.SponsorCardDetails p {
  font-size: 18px;
  text-align: left;
  margin: 5px;
  padding: 0;
}
