.SponsorListingPageMain{
    display:flex;
    flex-direction:row;
}

.SponsorListingPageLeft{
    width:20%;
}

.SponsorListingPageRight{
    width:80%;
}

.SponsorListingCardBox{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%
}

.SponsorListingCardBox > div{
    margin:10px;
}
.sponsorCardLink{
    text-decoration: none;
    color: black;
}