.SponsorPlansRoot{
    display:flex;
    justify-content: center;
    align-items: center;
}
.SponsorPlansInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}