.SponsorCardRoot {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background-color: #d7d7d78a;
    -webkit-box-shadow: 1px 2px 37px 8px #e1e1e1;
    -moz-box-shadow: 1px 2px 37px 8px #e1e1e1;
    box-shadow: 1px 2px 37px 8px #e1e1e1;
}
.SponsorCardRoot:hover {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    color: black;
    background-color: #1da1f2;
    -webkit-box-shadow: 1px 2px 37px 8px #1da1f2;
    -moz-box-shadow: 1px 2px 37px 8px #1da1f2;
    box-shadow: 1px 2px 37px 8px #1da1f2;
    transition: ease-in 0.15s;
}

.SponsorCardPoster {
    width: 200px;
}

.SponsorCardPoster > img {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
}

.SponsorCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2px;
}

.SponsorCardDetails p {
    text-align: left;
    margin: 5px;
    padding: 0;
  }
